@charset "UTF-8";
#stock-ui {
  background: white;
  color: #555;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 99999; }
  #stock-ui input {
    border: 0; }
  #stock-ui input:focus, #stock-ui button:focus {
    outline: none; }
  #stock-ui button {
    background: none;
    border: 0;
    color: #555;
    cursor: pointer; }
  #stock-ui span {
    display: inline-block; }
  #stock-ui section[data-role=page].next {
    left: 100%;
    display: block; }
  #stock-ui section[data-role=page].prev {
    left: -100%;
    display: block; }
  #stock-ui section[data-role=page].back {
    display: block; }
  #stock-ui section[data-role=page] {
    max-width: 800px;
    width: 100vw;
    margin: auto;
    height: 100vh;
    position: absolute;
    z-index: 0;
    background: white;
    display: none; }
    #stock-ui section[data-role=page].slide-ready {
      position: absolute;
      display: block;
      z-index: 20; }
    #stock-ui section[data-role=page].slide {
      transition: 0.5s; }
  #stock-ui section[data-role=page].active {
    left: 0 !important;
    top: 0;
    z-index: 10;
    display: block; }
  #stock-ui section[data-role=row] {
    width: 100%;
    display: block;
    overflow: auto; }
    #stock-ui section[data-role=row].ui-bottom {
      position: absolute;
      bottom: 0; }
  #stock-ui .rise {
    background: red;
    overflow: hidden;
    color: white; }
  #stock-ui .fall {
    background: #1F7425;
    color: white; }
  #stock-ui > .content {
    width: 100vw;
    height: 100vh;
    max-width: 800px;
    position: relative;
    margin: auto; }
  #stock-ui section.page-header {
    background: whitesmoke;
    padding: 8px;
    text-align: center;
    height: 50px;
    box-sizing: border-box;
    margin-bottom: 1px; }
    #stock-ui section.page-header button.left {
      position: absolute;
      top: 10px;
      width: 30px;
      height: 30px;
      left: 10px; }
    #stock-ui section.page-header button.right {
      position: absolute;
      top: 10px;
      width: 30px;
      height: 30px;
      right: 10px; }
    #stock-ui section.page-header button.back:before {
      content: " ";
      position: absolute;
      background: #555;
      width: 19px;
      height: 2px;
      -webkit-transform: rotateZ(52deg) scale(0.75);
      -moz-transform: rotateZ(52deg) scale(0.75);
      -ms-transform: rotateZ(52deg) scale(0.75);
      transform: rotateZ(52deg) scale(0.75);
      left: 7px;
      top: 19px; }
    #stock-ui section.page-header button.back:after {
      content: " ";
      position: absolute;
      background: #555;
      width: 20px;
      height: 2px;
      -webkit-transform: rotateZ(308deg) scale(0.75);
      -moz-transform: rotateZ(308deg) scale(0.75);
      -ms-transform: rotateZ(308deg) scale(0.75);
      transform: rotateZ(308deg) scale(0.75);
      left: 6px;
      top: 8px; }
    #stock-ui section.page-header button.menu {
      background: #555;
      width: 23px;
      height: 23px;
      border-radius: 1px;
      -webkit-transform: scale(0.9);
      -moz-transform: scale(0.9);
      -ms-transform: scale(0.9);
      transform: scale(0.9); }
    #stock-ui section.page-header button.menu:before {
      content: " ";
      position: absolute;
      background: whitesmoke;
      width: 23px;
      height: 3px;
      left: 0;
      top: 10px; }
    #stock-ui section.page-header button.menu:after {
      content: " ";
      position: absolute;
      background: whitesmoke;
      width: 3px;
      height: 23px;
      left: 10px;
      top: 0; }
    #stock-ui section.page-header button.right.search {
      right: 20px;
      top: 10px; }
    #stock-ui section.page-header button.search:before {
      content: " ";
      position: absolute;
      background: "";
      border: 3px solid #555;
      width: 10px;
      height: 10px;
      border-radius: 15px;
      top: 2px; }
    #stock-ui section.page-header button.search:after {
      content: " ";
      position: absolute;
      background: #555;
      -webkit-transform: rotateZ(52deg);
      -moz-transform: rotateZ(52deg);
      -ms-transform: rotateZ(52deg);
      transform: rotateZ(52deg);
      width: 9px;
      height: 4px;
      top: 17px;
      left: 25px;
      border-radius: 20px; }
    #stock-ui section.page-header > div {
      display: inline-block;
      margin-top: 4px;
      font-size: 18px; }
  #stock-ui #uiMask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 11; }
  #stock-ui #quoteList {
    /* section.stock-table */ }
    #stock-ui #quoteList section.stock-table table {
      width: 100%;
      border-spacing: 0;
      table-layout: fixed; }
      #stock-ui #quoteList section.stock-table table tr {
        cursor: pointer; }
      #stock-ui #quoteList section.stock-table table td {
        padding: 10px 20px;
        overflow: hidden; }
      #stock-ui #quoteList section.stock-table table td:not(:nth-child(1)) {
        text-align: center;
        font-size: 15px; }
      #stock-ui #quoteList section.stock-table table thead {
        background: whitesmoke;
        color: #555;
        font-size: 18px; }
        #stock-ui #quoteList section.stock-table table thead th {
          overflow: hidden; }
        #stock-ui #quoteList section.stock-table table thead th:nth-child(1) {
          height: 40px;
          width: 40%;
          padding-left: 20px;
          text-align: left; }
        #stock-ui #quoteList section.stock-table table thead th:not(:nth-child(1)) {
          width: 30%; }
      #stock-ui #quoteList section.stock-table table td div.change {
        padding: 5px;
        max-width: 100px;
        margin: auto; }
  #stock-ui #quoteSearch section.search {
    width: 100%;
    padding: 10px 0;
    background: whitesmoke; }
    #stock-ui #quoteSearch section.search span {
      vertical-align: top;
      height: 29px; }
    #stock-ui #quoteSearch section.search span.input {
      width: 100%;
      max-width: 600px;
      display: block;
      margin: auto; }
      #stock-ui #quoteSearch section.search span.input input {
        display: block;
        background: white;
        width: 90%;
        height: 100%;
        margin: auto;
        font-size: 15px;
        padding-left: 10px;
        color: #555; }
  #stock-ui #quoteDetail > [data-role=row] {
    width: 98%;
    margin: auto; }
  #stock-ui #qdA {
    height: 60px; }
    #stock-ui #qdA .title {
      background: #efefef;
      font-size: 0;
      border-top: 1px solid #bbb;
      border-bottom: 1px solid #bbb;
      height: 100%; }
      #stock-ui #qdA .title > span {
        font-size: 15px;
        height: 100%;
        text-align: center;
        vertical-align: top; }
        #stock-ui #qdA .title > span > div:first-child {
          margin-top: 10px !important; }
      #stock-ui #qdA .title > span:first-child {
        width: 30%;
        color: red; }
        #stock-ui #qdA .title > span:first-child > div:nth-child(2) > span {
          font-size: 12px;
          margin-right: 5px; }
      #stock-ui #qdA .title > span:last-child {
        border-left: 1px solid #bbb;
        width: 70%; }
        #stock-ui #qdA .title > span:last-child > div {
          max-width: 80%;
          margin: auto;
          text-align: left; }
          #stock-ui #qdA .title > span:last-child > div > span {
            width: 50%;
            text-align: left; }
            #stock-ui #qdA .title > span:last-child > div > span span.red {
              color: red; }
            #stock-ui #qdA .title > span:last-child > div > span span:nth-child(2) {
              margin-left: 10px; }
  #stock-ui #qdB {
    border: 1px solid #bbb;
    height: calc( 100vh - 160px); }
  #stock-ui #qdC {
    height: calc( 100vh - 160px);
    border: 1px solid #bbb; }
    #stock-ui #qdC .content {
      padding: 10px; }
      #stock-ui #qdC .content > div {
        margin: 5px 0; }
        #stock-ui #qdC .content > div > span:first-child {
          color: green;
          width: 30%;
          text-align: center; }
        #stock-ui #qdC .content > div > span:last-child {
          width: 70%;
          text-align: right; }
  #stock-ui #qdD {
    height: 50px;
    margin: 10px 0; }
    #stock-ui #qdD > input[type=radio] {
      position: relative;
      margin: 0;
      border: 1px solid #bbb;
      -webkit-appearance: none;
      width: 16.66%;
      height: 45px;
      cursor: pointer;
      -webkit-appearance: none;
      -moz-appearance: none;
      -ms-appearance: none;
      appearance: none; }
      #stock-ui #qdD > input[type=radio]:first-child:before {
        content: "分時";
        font-size: 15px;
        margin-left: -15px;
        position: absolute;
        top: 12px;
        left: 50%; }
      #stock-ui #qdD > input[type=radio]:nth-child(2):before {
        content: "30分";
        font-size: 15px;
        margin-left: -15px;
        position: absolute;
        top: 12px;
        left: 50%; }
      #stock-ui #qdD > input[type=radio]:nth-child(3):before {
        content: "60分";
        font-size: 15px;
        margin-left: -15px;
        position: absolute;
        top: 12px;
        left: 50%; }
      #stock-ui #qdD > input[type=radio]:nth-child(4):before {
        content: "日Ｋ";
        font-size: 15px;
        margin-left: -15px;
        position: absolute;
        top: 12px;
        left: 50%; }
      #stock-ui #qdD > input[type=radio]:nth-child(5):before {
        content: "週Ｋ";
        font-size: 15px;
        margin-left: -15px;
        position: absolute;
        top: 12px;
        left: 50%; }
      #stock-ui #qdD > input[type=radio]:nth-child(6):before {
        content: "月Ｋ";
        font-size: 15px;
        margin-left: -15px;
        position: absolute;
        top: 12px;
        left: 50%; }
    #stock-ui #qdD > input[type=radio]:checked {
      background: #e2eeff; }
  #stock-ui #qdE > div {
    height: 28px;
    line-height: 28px;
    text-align: left;
    font-size: 13px;
    width: 90%;
    margin: auto; }
  #stock-ui #qdE > div:first-child {
    margin-left: 10px;
    font-size: 16px;
    color: #1c85cd; }
  #stock-ui #qdE > div:nth-child(2) > span:first-child {
    font-size: 20px; }
  #stock-ui #qdE > div:nth-child(2) > span {
    width: 25%; }
  #stock-ui #qdE > div:nth-child(3) > span {
    width: 25%; }
  #stock-ui #qdE > div:nth-child(3) > span:first-child > span:first-child {
    margin-right: 10px; }
  #stock-ui #stockMenu {
    padding: 0 5px; }
    #stock-ui #stockMenu .sm-block {
      height: 30px;
      width: 100%;
      border: 1px solid #bbb;
      margin: 0 auto 20px;
      text-align: center;
      line-height: 30px;
      cursor: pointer;
      box-sizing: border-box; }
  #stock-ui #smA > div:first-child {
    background: whitesmoke;
    height: 40px;
    margin-bottom: 10px; }
    #stock-ui #smA > div:first-child img {
      border-radius: 10px;
      height: 30px;
      position: relative;
      top: 5px;
      left: 10px; }
    #stock-ui #smA > div:first-child span {
      position: relative;
      bottom: 5px;
      left: 20px; }
  #stock-ui #smB {
    margin-top: 10px; }
    #stock-ui #smB > div > span {
      width: 25%;
      float: left;
      text-align: center;
      box-sizing: border-box;
      border: 1px solid #bbb;
      height: 30px;
      line-height: 30px;
      cursor: pointer;
      font-size: 15px; }
  #stock-ui .col-1, #stock-ui .col-2, #stock-ui .col-3, #stock-ui .col-4, #stock-ui .col-5, #stock-ui .col-6, #stock-ui .col-7, #stock-ui .col-8, #stock-ui .col-9, #stock-ui .col-10, #stock-ui .col-11, #stock-ui .col-12 {
    float: left;
    position: relative;
    min-height: 1px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    white-space: nowrap; }
  #stock-ui .col-1 {
    width: 8.33333%; }
  #stock-ui .col-2 {
    width: 16.66667%; }
  #stock-ui .col-3 {
    width: 25%; }
  #stock-ui .col-4 {
    width: 33.33333%; }
  #stock-ui .col-5 {
    width: 41.66667%; }
  #stock-ui .col-6 {
    width: 50%; }
  #stock-ui .col-7 {
    width: 58.33333%; }
  #stock-ui .col-8 {
    width: 66.66667%; }
  #stock-ui .col-9 {
    width: 75%; }
  #stock-ui .col-10 {
    width: 83.33333%; }
  #stock-ui .col-11 {
    width: 91.66667%; }
  #stock-ui .col-12 {
    width: 100%; }
