$color1: #1B6DD2;
$bg1: #1F2227;
$size1: 18px;

#stock-ui {

	background: black;
	color: white;
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 99999;

	input { border: 0; }
	input:focus,button:focus { outline: none; }
	button { background: none; border: 0; color: $color1; cursor: pointer; }
	span { display: inline-block; }

	section[data-role=page].next { left: 100%; }
	section[data-role=page].prev { left: -100%; }

	section[data-role=page] {
		max-width: 800px;
		width: 100vw;
		margin: auto;
		height: 100vh;
		position: absolute;
		z-index: 0;
		background: black;
	}

	section[data-role=page].active {
		left: 0!important;
		transition: 0.5s;
		z-index: 10;
	}

	#page-quoteList {

		section.search {
			width: 100%;
			padding: 10px 0;
			background: $bg1;

			span { vertical-align: top; height: 29px;}

			span.input { 
				width: 75%;

				input { 
					display: block;
					background: #000;
					width: 90%; 
					height: 100%;
					margin: auto;
					font-size: 15px;
					padding-left: 10px;
					color: white;
				} 
			}

			span.button { 
				width: 20%;
				button {
					display: block;
					font-size: $size1;
					margin: auto;
				}
			}
		}

		section.stock-table {
			margin-top: 1px;
			table {
				width: 100%;
				border-spacing: 0;
				table-layout:fixed;


				td { padding: 10px 20px; overflow: hidden;}
				td:not(:nth-child(1)) { 
					text-align: center; 
					font-size: 15px;
				}

				thead {
					background: $bg1;
					color: $color1;
					font-size: $size1;
					th { overflow: hidden;}
					th:nth-child(1) {
						height: 40px;
						width: 40%; 
						padding-left: 20px;
						text-align: left;
					}

					th:not(:nth-child(1)) { width: 30%; }
				}

				td div.change { padding: 5px; }
				td div.rise { background: red; }
				td div.fall { background: #1F7425; }
			}
		} /* section.stock-table */
	}
}