$general1: black;
$color1: #eee;
$titleBg1: #1F2227;
$size1: 18px;
$qdBlock1: #1F2227;
$qdTitleBDR1: 1px solid #444;
$pageHeaderColor1: #eee;

$general2: white;
$color2: #555;
$titleBg2: rgb(245,245,245);
$size2: 18px;
$qdBlock2: #efefef;
$qdTitleBDR2: 1px solid #bbb;
$pageHeaderColor2: #555;


@mixin headerBtn() {
    position: absolute;
    top: 10px;
    width: 30px;
    height: 30px;
}

@mixin mixScale($scale) {
  -webkit-transform: scale($scale);
     -moz-transform: scale($scale);
      -ms-transform: scale($scale);
          transform: scale($scale);
}

@mixin mixRotate($rotate) {
  -webkit-transform: $rotate;
     -moz-transform: $rotate;
      -ms-transform: $rotate;
          transform: $rotate;
}

@mixin mixRotateScale($rotate, $scale) {
  -webkit-transform: rotateZ($rotate) scale($scale);
     -moz-transform: rotateZ($rotate) scale($scale);
      -ms-transform: rotateZ($rotate) scale($scale);
          transform: rotateZ($rotate) scale($scale);
}

@mixin pagePseudo($bgColor) {
	content: " ";
    position: absolute;
    background: $bgColor;
}

@mixin mixinAppearanceNone() {
	-webkit-appearance: none;
       -moz-appearance: none;
        -ms-appearance: none;
            appearance: none;
}

@mixin qdERadio($content) {
	content: $content;
    font-size: 15px;
    margin-left: -15px;
    position: absolute;
    top: 12px;
    left: 50%;
}

$general: $general2;
$color: $color2;
$titleBg: $titleBg2;
$size: $size2;
$qdBlock: $qdBlock2;
$qdTitleBDR: $qdTitleBDR2;
$pageHeaderColor: $pageHeaderColor2;

$markBlue: #1c85cd;

#stock-ui {

	background: $general;
	color: $color;
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 99999;

	input { border: 0; }
	input:focus,button:focus { outline: none; }
	button { background: none; border: 0; color: $color; cursor: pointer; }
	span { display: inline-block; }

	section[data-role=page].next { left: 100%; display: block; }
	section[data-role=page].prev { left: -100%; display: block; }
	section[data-role=page].back { display: block;}

	section[data-role=page] {
		max-width: 800px;
		width: 100vw;
		margin: auto;
		height: 100vh;
		position: absolute;
		z-index: 0;
		background: $general;
		display: none;

		&.slide-ready {
		    position: absolute;
		    display: block;
		    z-index: 20;
		}

		&.slide {
			transition: 0.5s;
			// &:before {
			// 	content: " ";
			//     position: absolute;
			//     right: 100%;
			//     top: 0;
			//     width: 100vw;
			//     height: 100vh;
			// }

			// &:after {
			// 	content: " ";
			//     position: absolute;
			//     left: 100%;
			//     top: 0;
			//     width: 100vw;
			//     height: 100vh;
			// }
		}
	}

	section[data-role=page].active {
		left: 0!important;
		top: 0;
		z-index: 10;
		display: block;
	}

	section[data-role=row] {
		width: 100%;
    	display: block;
	    overflow: auto;

	    &.ui-bottom {
			position: absolute;
			bottom: 0;
		}
	}


	.rise { background: red; overflow: hidden; color: white;}
	.fall { background: #1F7425; color: white;}

	.rise-text { color: red;}
	.fall-text { color: #1F7425;}


	> .content {
	    width: 100vw;
	    height: 100vh;
	    max-width: 800px;
	    position: relative;
	    margin: auto;	
	}

	section.page-header {
		background: $titleBg;
	    padding: 8px;
	    text-align: center;
        height: 50px;
    	box-sizing: border-box;
		margin-bottom: 1px;

		button.left {
			@include headerBtn();
		    left: 10px;
		}

		button.right {
			@include headerBtn();
		    right: 10px;
		}

		button.back:before {
			@include pagePseudo($pageHeaderColor);
		    width: 19px;
		    height: 2px;
		    @include mixRotateScale(52deg, 0.75);
		    // transform: rotateZ(52deg) scale(0.75);
		    left: 7px;
		    top: 19px;
		}

		button.back:after {
			@include pagePseudo($pageHeaderColor);
		    width: 20px;
		    height: 2px;
		    @include mixRotateScale(308deg, 0.75);
		    // transform: rotateZ(308deg) scale(0.75);
		    left: 6px;
		    top: 8px;
		}

		button.menu {
			background: $pageHeaderColor;
		    width: 23px;
		    height: 23px;
		    border-radius: 1px;
		    @include mixScale(0.9);
		}

		button.menu:before {
			@include pagePseudo($titleBg);
		    width: 23px;
    		height: 3px;
    	    left: 0;
    		top: 10px;
		}

		button.menu:after {
			@include pagePseudo($titleBg);
		    width: 3px;
		    height: 23px;
		    left: 10px;
		    top: 0;
		}

		button.right.search { right: 20px; top: 10px;}

		button.search:before {
			@include pagePseudo("");
			border: 3px solid $pageHeaderColor;
		    width: 10px;
		    height: 10px;
		    border-radius: 15px;
		    top: 2px;
		}

		button.search:after {
			@include pagePseudo($pageHeaderColor);
			@include mixRotate(rotateZ(52deg))
		    width: 9px;
		    height: 4px;
		    top: 17px;
		    left: 25px;
		    border-radius: 20px;
		}

		> div { 
			display: inline-block; 
			margin-top: 4px;
    		font-size: 18px;
		}
	}

	#uiMask {
		position:absolute;
		top:0;
		left:0;
		width:100vw;
		height:100vh;
		z-index: 11;
	}

	#quoteList {

		section.stock-table {
			table {
				width: 100%;
				border-spacing: 0;
				table-layout:fixed;

				tr { cursor: pointer;}
				td { padding: 10px 20px; overflow: hidden;}
				td:not(:nth-child(1)) { 
					text-align: center; 
					font-size: 15px;
				}

				thead {
					background: $titleBg;
					color: $color;
					font-size: $size;
					th { overflow: hidden;}
					th:nth-child(1) {
						height: 40px;
						width: 40%; 
						padding-left: 20px;
						text-align: left;
					}

					th:not(:nth-child(1)) { width: 30%; }
				}

				td div.change { padding: 5px; max-width: 100px; margin: auto;}
				// td div.rise { background: red; overflow: hidden; color: white;}
				// td div.fall { background: #1F7425; color: white;}
			}
		} /* section.stock-table */
	}

	#quoteSearch {
		section.search {
			width: 100%;
			padding: 10px 0;
			background: $titleBg;

			span { vertical-align: top; height: 29px;}

			span.input { 
				width: 100%;
				max-width: 600px;
				display: block;
				margin: auto;
			
				input { 
					display: block;
					background: $general;
					width: 90%; 
					height: 100%;
					margin: auto;
					font-size: 15px;
					padding-left: 10px;
					color: $color;
				} 
			}

			// span.button { 
			// 	width: 20%;
			// 	button {
			// 		display: block;
			// 		font-size: $size1;
			// 		margin: auto;
			// 	}
			// }
		}
	}

	#quoteDetail {
		> [data-role=row] { width: 98%; margin: auto;}
	}

	#qdA {
		height: 60px;
		.title {
			background: $qdBlock;
			font-size: 0;
			border-top: $qdTitleBDR;
			border-bottom: $qdTitleBDR;
		    height: 100%;

			> span { 
				font-size: 15px;
				height: 100%;
				text-align: center; 
				vertical-align: top;
				> div:first-child { margin-top: 10px!important; }
			}

			> span:first-child { 
				width: 30% ;
				color: red;
				> div:nth-child(2) > span { 
					font-size: 12px; 
					margin-right: 5px;
				}
			}
			> span:last-child { 
				border-left: $qdTitleBDR;
				width: 70%; 
				> div {
					max-width: 80%;
    				margin: auto;
					text-align: left;
					> span { 
						width: 50%; text-align: left; 
						span.red { color: red }
						span:nth-child(2) { margin-left: 10px}
					}
				}
			}
		}
	}

	#qdB {
		border: $qdTitleBDR;
		height: calc( 100vh - 160px); 
	}

	#qdC {
		height: calc( 100vh - 160px); 
		border: $qdTitleBDR;

		.content {
			padding: 10px;
			> div {
			    margin: 5px 0;
				> span:first-child { 
					color: green;
					width: 30%; 
					text-align: center; 
				}

				> span:last-child { width: 70%; text-align: right; }
			}
		}
	}


	#qdD {
		height: 50px;
		margin: 10px 0;

		> input[type=radio] {
			position: relative;
			margin: 0;
		    border: $qdTitleBDR;
		    -webkit-appearance: none;
		    width: 16.66%;
		    height: 45px;
		    cursor: pointer;
		    @include mixinAppearanceNone();

		    &:first-child:before  { @include qdERadio("分時")  }
			&:nth-child(2):before { @include qdERadio("日Ｋ") }
		    &:nth-child(3):before { @include qdERadio("週Ｋ") }
		    &:nth-child(4):before { @include qdERadio("月Ｋ") }
		    &:nth-child(5):before { @include qdERadio("60分") }
		    &:nth-child(6):before { @include qdERadio("30分") }
		}

		> input[type=radio]:checked { background: #e2eeff }
	}

	#qdE {
		> div {
			height: 28px;
		    line-height: 28px;
		    text-align: left;
		    font-size: 13px;
		    width: 90%;
		    margin: auto;
		}

		> div:first-child { 
			margin-left: 10px;
		    font-size: 16px;
    		color: $markBlue;
		}

		> div:nth-child(2) > span:first-child { font-size: 20px; }

		> div:nth-child(2) > span { width: 25%; }
		> div:nth-child(3) > span { width: 25%; }
		> div:nth-child(3) > span:first-child > span:first-child { margin-right: 10px; }
		// > div:last-child > span { width: 33%; }

	}

	#stockMenu {
		padding: 0 5px;
		.sm-block {
			height: 30px;
			width: 100%;
			border: $qdTitleBDR;
			margin: 0 auto 20px;
			text-align: center;
			line-height: 30px;
			cursor: pointer;
			box-sizing: border-box;
		}
	}

	#smA {
		> div:first-child {
			background: $titleBg;
			
    		height: 40px;
    		margin-bottom: 10px;

    		img {
    			border-radius: 10px;
			    height: 30px;
			    position: relative;
			    top: 5px;
			    left: 10px;
    		}

    		span { position: relative; bottom: 5px; left: 20px;}
		}
	}

	#smB {
		margin-top: 10px;
		> div > span {
			width: 25%;
		    float: left;
		    text-align: center;
		    box-sizing: border-box;
		    border: $qdTitleBDR;
		    height: 30px;
		    line-height: 30px;
		    cursor: pointer;
		    font-size: 15px;
		}
	}

	#qsA {

		.ls-plus {
		    width: 22px;
		    height: 22px;
		    background: cornflowerblue;
		    border-radius: 20px;
		    position: relative;
		    top: 3px;
		    left: 15px;
			&:before {
			    content: "+";
			    position: absolute;
			    top: -4px;
			    left: 3.5px;
			    color: white;
			    font-size: 20px;
			}
		}

		.ls-text {
			vertical-align: top;
			&:before {
			    content: "已選";
			    position: absolute;
			    left: 27px;
			    color: #bbb;
			}
		}

		table {
			width: 92%;
			margin-left: 4%;
		    border-collapse: collapse;
		    tr {
		        height: 50px;
	    		border-bottom: 1px solid #eee;
	    		cursor: pointer;
	    		td:first-child { width: 20%; }
		    }

		    tr:hover { background: aliceblue; }
		}
	}

	// bootstrap

	.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
    	float: left;
		position: relative;
		min-height: 1px;
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		white-space: nowrap;
	}

	@for $i from 1 through 12 {
	    $width: percentage($i / 12);
	    .col-#{$i} {
	        width: $width;
	    }
	}

	
}